rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /cajas/{cajaId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /transacciones/{txId} {
        allow read: if request.auth != null && request.auth.uid == userId;
        allow create: if request.auth != null && request.auth.uid == userId
          && request.resource.data.monto > 0
          && request.resource.data.tipo in ['ingreso', 'egreso'];
        allow update, delete: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
